<!DOCTYPE html>
<html>
<head>
    <title>Cloud Task Manager</title>
</head>

<body>

    <h1>Cloud Task Manager</h1>

    <form method="POST">
        <input
            type="text"
            name="task"
            placeholder="Enter a task"
            required
        >
        <button type="submit">Add Task</button>
    </form>

    <h2>My Tasks</h2>

    <ul>
        {% for task in tasks %}
            <li>
                {{ task["task"] }}
            </li>
        {% endfor %}
    </ul>

</body>
</html>